mixin main-block
    section.section-main-block
         
        .main-block
            .main-block__wrp
                .main-block__bg
                    picture
                        source(srcset="/img/common/icons/bg-img-first-block-desktop.jpg" type="image/jpeg" media="(min-width: 480px)") 
                        img(src="/img/common/icons/bg-img-first-block-mobile.jpg" alt="Image") 
                .main-block__content
                    .container
                        .main-block__row
                            .main-block__left
                                .main-block__logo
                                    picture
                                        img(src="/img/logo.png")
                                .main-block__platforms
                                    ul
                                        li.ya-music: a(href='#'): img(src='/img/platforms/logo-yandex-music.svg')
                                        li.vk-music: a(href='#'): img(src='/img/platforms/logo-vk-music.svg')
                                        li.sp-music: a(href='#'): img(src='/img/platforms/logo-spoty.svg')
                                        li.am-music: a(href='#'): img(src='/img/platforms/logo-am.svg')
                            .main-block__right
                                +picturePng('/img/img-artem')