.container
    .header
        .header__menu
            .btn-burger
                i
                i
                i
                     
        .header__lang
            span EN 
            